Flask==2.3.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.1.1
Flask-Login==0.6.3
email-validator==2.1.1
WTForms==3.1.2
gunicorn==21.2.0  # Optional, hanya untuk deployment di server
python-dotenv==1.0.1  # Optional, untuk load .env file (jika kamu pakai)
